.sec1{
    background-image: url('../images/bg-image.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(4, 96, 182);
    background-blend-mode: soft-light;
    height: 366px;
    margin: auto;
    color: white;
    @media(min-width:500px){
        width: 365px;
    }

    svg{
        margin-top: 2em;
    }
    p{
        margin: 0em;
        font-size: larger;
        span{
            font-family: cursive;
        }
    }
    
    ul {
        padding: 1em;
        width: 90%;
        text-align: left;
        font-size: small; 
        display: block;
        margin: auto; 
        @media(min-width: 700px){
            width: 80%;
        }
    }

    li{
        padding-top: 1em;
        font-size: larger;
    }

}

form{
    background-color: white;
    border: solid 1px;
    margin: auto; 
    height: 365px;
    @media(min-width:500px){
        width: 365px;
    }
    @media(min-width:768px){
        height: 365px;
        width: 415px;
    } 
    legend{
        font-size: 1.5em;
        margin-top: 1em;
        @media(min-width: 768px){
            text-align: left;
            padding-left: 2em;
        }
    }

    button{
        margin-bottom: .5em;
    }

    fieldset{
        border: none;
        img{
            height: 20px;
            width: 20px;
            opacity: .5;
        }
        a{
            color: gray;
            // text-align: right;
        }
        p{
            text-align: right;
            width: 90%;
        }
    }

    input {
        width: 80%;
        margin-bottom: 1em;
        border: none;
        border-bottom:solid 3px gray;
        outline: none;
        caret-color: black;  
        font-family: cursive; 
        font-size: larger;
        &:focus{
            border-color:  rgb(4, 96, 182);
        }
       
    }
    button{
        @include btn;
    }

    .social{
        display: flex;
        justify-content: space-around;
    }
 }

footer{
    @media(min-width:768px){
        padding-top: 2em;
    }
    p{
        color: white;
    }
    span{
        color: rgb(4, 96, 182);
    }
}

.flex{
    @media(min-width:768px){
        display: flex;
        justify-content: space-around;
        max-width: max-content;
        margin: auto;
    }
}

