
    svg{
        margin-top: 2em;
        
    }

    p,
    ul{
        color: white;
    }

    span {
        font-family: cursive;
        font-size: larger; 
    }

    
    ul {
        padding: 1em;
        width: 90%;
        text-align: left;
        font-size: small; 
        display: block;
        margin: auto;
        @media(min-width: 700px){
            width: 80%;
        }
    }

    li{
        padding-top: 1em;
        font-size: larger;
    }
.sec1{
    margin-bottom: 10em;
}

.form-container {
    background-color: white;
    border: solid 1px;
    margin: auto; 
    height: 365px;
    text-align: center;
    @media(min-width:768px){
        height: 365px;
        width: 415px;
    } 
    button{
        margin-bottom: .5em;
    }
    img{
        height: 20px;
        width: 20px;
        opacity: .5;
    }
    a{
        color: gray;
    }
    p{
        text-align: right;
        width: 90%;
    }
    input {
        width: 80%;
        margin-bottom: 1em;
        border: none;
        border-bottom:solid 3px gray;
        outline: none;
        caret-color: black;  
        font-family: cursive; 
        font-size: larger;
        &:focus{
            border-color:  rgb(8, 121, 227);
        }  
    } 
 }

 button{
    @include btn;
}

footer{
    @media(min-width:768px){
        padding-top: 2em;
    }
}


