*{ 
    box-sizing: border-box;
    // font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-family: 'PT Sans Narrow', sans-serif;

}


body{
    background-image: url('../images/bg-image.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(4, 96, 182);
    background-blend-mode: soft-light;
}

a{
    text-decoration: none;
    &:hover{
        border-bottom: 3px solid white;
    }
}

.container{
    text-align: center;
    width: 90%;
    margin: auto;
    height: 100vh;
    @media(min-width: 768px){
        margin-top: -8em;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}