nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem 0;
    .logo-div{
        display: flex;
        align-items: center;
        padding: 10px;
        h2{
            font-size: initial;
            padding-left: 5px;
            color: white;
        }
    }
    ul, button{
        display: none;
    }
    .mobile-btn {
        position: relative;
        height: 50px;
        width: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        @media (min-width:768px){
            display: none;
        }
        .mobile-burger{
            width: 25px;
            height: 5px;
            border-radius: 5px;
            background-color: white;
            cursor: pointer;
            &::before,
            &::after{
                content: "";
                position: absolute;
                height: 5px;
                width: 25px;
                background-color: white;
                border-radius: 5px;
            }
            &::before{
                transform: translateY(-10px);
            }
            &::after{
                transform: translateY(10px);
            }
        }
    }
    @media (min-width:768px){
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 0 3em 0;
        margin-top: 1em;
        min-width: 800px;
        div{
            display: flex;
            align-items: center;
            justify-content: center;
            svg{
                padding-right: 5px;
            }   
        }
        h2,
        a {
            text-decoration: none;
            color: white;
            &:hover{
                border-bottom: 3px solid white;
            }
        }
        ul{
            display: flex;
            justify-content:center;
            list-style-type: none;
            li{
                padding-left: 5em;
            }
        }
        button {
            display: block
        }
    }
};




