.sec-2{
    background-color: white;
    padding-top: .5em;
    .social svg, img {
        padding-top: 1em;
        margin: 5em auto;
        height: 100px;
        width: 100px;
        display: flex; 
        justify-content: center; 
    }
}

