*{
    box-sizing: border-box;
    // font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-family: 'PT Sans Narrow', sans-serif;

}

body{
    background-color: rgb(63, 63, 63)
}

a{
    text-decoration: none;
    color: white;
}

.container{
    text-align: center;
    width: 90%;
    
    min-width: 320px;
    margin: auto;
    @media(min-width: 768px){
        margin-top: 1em;
    }
}

@media(min-width:500px){
    .flex{
        display: row
    }

    
}

